<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shital.kotlinall">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".MVVM_Retrofit_RecyclerView_MemesApp.withHilt.di.MemesApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MainActivity">


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyALR_ky89YNY6ZuiN7cvBISIyRBXx6KFj4" />

        <activity
            android:name=".GoogleMap.SearchView"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MVVM_Retrofit_RecyclerView_MemesApp.withoutHilt.ui.Memes_Activity_Details"
            android:exported="false" />
    </application>

</manifest>